body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#content {
  margin-top: 50px;   
  margin-left: auto;
  margin-right: auto;
  width: 850px;
}

#greeting-container {
  margin-top: 20px;
}
.container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 10% auto 10% auto;
}
.container > .bio, .profile{
    align-items: center;
    background-color: #f8f9fa;
    border-style: groove;
    padding: 1%;
    margin: 10px; 
}
p{
    font-size: 18 px;
}
.container > div{
    align-items: center;
    background-color: #f8f9fa;
    padding: 1%;
    margin: 10px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* GitHub */
.fa-github {
  background: #000;
  color: white;
}

/* LinkedIn */
.fa-linkedin {
    background: #0077b5;
    color: white;
}
#contact {
    display: flex;
    align-items: center;
}
